.faq_search {
  border-radius: 16px;
  border: 1px solid #d8e1e8;
  padding: 109px 68px 40px 68px;
  text-align: center;
  width: 616px;
}
.faq_search img {
  margin-bottom: 24px;
  text-align: center;
}
.faq_search h5 {
  color: #30404d;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-bottom: 11px;
}
.subtitle {
  color: #8a9ba8;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  max-width: 344px;
  margin: 0 auto 24px auto;
}
.search {
  position: relative;
  margin-bottom: 80px;
  display: inline-block;
}
.search_icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
.mic_icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}

.search input {
  padding: 14px 16px 14px 46px;
  color: #99a7b3;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  border-radius: 8px;
  border: 1px solid #ced9e0;
  background: #fff;
  width: 367px;
}
.bottom_message {
  color: #8a9ba8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 20px;
}
