.quantity {
  display: flex;
  gap: 12px;
  align-items: center;
}
.quantity button {
  background: #394b59;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.quantity p {
  color: #8a9ba8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
