.tabButton {
  font-weight: 600;
  font-size: 1rem;
  color: #30404d;
  background-color: transparent;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.tabButton:hover,
.tabButton.isActive {
  background-color: #fff;
  border: 1px solid #ced9e0;
}
