.form_personal_details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form_bottom {
  display: flex;
  justify-content: space-between;
}

.form_personal_details input {
  color: #394b59;
  font-family: Fira Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  border-radius: 8px;
  border: 1px solid #ced9e0;
  background: #fff;
  padding: 14px;
}
.divider::after {
  content: "";
  display: block;
  width: 296px;
  height: 1px;
  background-color: #e5eaee;
  margin: 4px auto;
}

.search {
  position: relative;
}
.search button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  background-color: transparent;
}
.search input[type="search"] {
  width: 100%;
  padding-left: 42px;
}

.form_bottom {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.country label {
  color: #98a8b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.28px;
}
.country p {
  color: #394b59;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.32px;
  margin-top: 8px;
}

.form_bottom select {
  border: none;
  color: #99a7b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}
