/* .home_slider .swiper {
  margin-bottom: 75px;
  overflow-y: visible !important;

  overflow: visible !important;
}

.home_slider .swiper-slide {
  width: auto !important;
}

.home_slider .swiper-button-next::after,
.home_slider .swiper-button-prev::after {
  display: none;
}

.home_slider .swiper-button-next {
  background-color: #8a9ba8;
  background-image: url("/next-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  right: 0 !important;
  bottom: -73px;
}

.home_slider .swiper-button-next::before {
  content: "Next";
  display: inline-block;
  padding: 12px 42px 12px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.home_slider .swiper-button-prev {
  background-color: #8a9ba8;
  background-image: url("/prev-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  left: 0 !important;
  bottom: -73px;
}
.home_slider .swiper-button-prev::before {
  content: "Previous";
  display: inline-block;
  padding: 12px 16px 12px 42px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
} */
