.sort_by summary {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #30404d;
}
.wrapper_sort_by details summary {
  list-style-type: none;
}
.sort_by summary::after {
  content: url("/down-icon.svg");
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.sort_by[open] summary::after {
  content: url("/up-icon.svg");
}

.wrapper_links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  z-index: 3;
  background-color: #fff;
  border-radius: 8px;
}
.wrapper_links a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}
.wrapper_links a:hover {
  background-color: #e5eaee;
  border-radius: 8px;
}
