.wrapper_sign_up_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;
}
.wrapper_sign_up_link h5 {
  color: #8a9ba8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 0;
}
.wrapper_sign_up_link button {
  color: #30404d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  background-color: transparent;
}
