.wrapper_banner_text {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  background: #fff;
  width: 432px;
  margin-bottom: 31px;
}

.category_name {
  color: #a7b6c2;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 13px;
}
.wrapper_banner_text h5 {
  color: #30404d;
  font-weight: 700;
  line-height: 32px;
}
